{%extends 'base.html'%}


<h1>{%block location%}Order Page{%endblock%}</h1>

{%block content%}
    <h2>Admin Page</h2>
    <p>Admins eyes only!<br> Joking aside, this page shows the innards
    of the sql server and allows for some more complex changes.</p>
    
    <h2>Currently Avilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Currently Unavilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Customers</h2>
    <div class="box"></div>

    <h2>Orders</h2>
    <div class="box"></div>

    <h2>Lego Pieces</h2>
    <div class="box"></div>

    <h2>Lego Set Content</h2>
    <div class="box"></div>

{%endblock%}