{%extends 'base.html'%}


<h1>{%block location%}Order Page{%endblock%}</h1>

{%block content%}
    <h2>Admin Page</h2>
    <p>Admins eyes only!<br> Joking aside, this page shows the innards
    of the sql server and allows for some more complex changes.</p>
    
    <h2>Currently Avilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Currently Unavilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Customers</h2>
    <div class="box"></div>

    <h2>Orders</h2>
    <div class="sql", style="overflow-y:auto;">
        <table>
            <tr>
                <th>Id</th>
                <th>Total Sum</th>
                <th>Customer ID</th>
                <th>Shipping Adress</th>
                <th>Order Date</th>
                <th>Shipping Date</th>
                <th>Arrival Date</th>
                <th>Order Content</th>
            </tr>
            {% for data in orders%}
                <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3]}}</td>    <!-- Skip the Postcode and city rows-->
                    <td>{{data[6]}}</td>
                    <td>{{data[7]}}</td>
                    <td>{{data[8]}}</td>
                    <td>
                        <table border="2">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            {% for set in data[9] %}
                                <tr>
                                    <th>{{set[0]}}</th>
                                    <th>{{set[1]}}</th>
                                    <th>{{set[2]}}</th>
                                    <th>{{set[3]}}</th>
                                </tr>
                            {%endfor%}
                        </table>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div>      
    <!-- <div class="box"></div> -->

    <h2>Lego Pieces</h2>
    <div class="box"></div>

    <h2>Lego Set Content</h2>
    <div class="box"></div>

    <hr>

    <h2>Add New Lego Set</h2>
    <div class="box"></div>

    <h2>Add Lego Pieces</h2>
    <div class="box"></div>

    <h2>Chang Order Content</h2>
    <div class="box"></div>
{%endblock%}