{%extends 'base.html'%}


<h1>{%block location%}Order Page{%endblock%}</h1>

{%block content%}
    <h2>Admin Page</h2>
    <p>Admins eyes only!<br> Joking aside, this page shows the innards
    of the sql server and allows for some more complex changes.</p>
    
    <h2>Currently Avilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Currently Unavilable Lego Sets</h2>
    <div class="box"></div>

    <h2>Customers</h2>
    <div class="box"></div>

    <h2>Orders</h2>
    <div class="box"></div>

    <h2>Lego Pieces</h2>
    <div class="box"></div>

    <h2>Lego Set Content</h2>
    <div class="box"></div>

    <hr>

    <h2>Add New Lego Set</h2>
    <div class="box">
        <form method="POST", action="">
            <h3>Lego Set</h3>
            {{lego_set_form.csrf_token}}
            {{lego_set_form.name.label}} {{lego_set_form.name()}} <br>
            {{lego_set_form.price.label}} {{lego_set_form.price()}} <br>
            
            <h3>Lego Set Content</h3>
            {{lego_set_form.lego_bricks_id()}}
            {{lego_set_form.lego_bricks_quantity()}}
            <button type="submit">Add new Lego Set</button>
            <button id="add-lego-bricks-field" type="button">Add more Lego Bricks</button>
        </form>
    </div>

    <h2>Add New Lego Pieces</h2>
    <div class="box">
        <form method="POST", action="">
            <h3>Dimentions</h3>
            {{lego_brick_form.csrf_token}}
            {{lego_brick_form.x.label}} {{lego_brick_form.x()}} <br>
            {{lego_brick_form.y.label}} {{lego_brick_form.y()}} <br>
            {{lego_brick_form.z.label}} {{lego_brick_form.z()}} <br>
            <h3>Other data</h3>
            {{lego_brick_form.colour.label}} {{lego_brick_form.colour()}} <br>
            {{lego_brick_form.storage_location.label}} {{lego_brick_form.storage_location()}} <br>
            <button type="submit">Add new Lego brick</button>
        </form>
    </div>

    <h2>Change Order Content</h2>
    <div class="box"></div>

<script>
    window.onload = function() {
        //console.log("Loaded window")
        let addLegoSetFieldButton = document.getElementById('add-lego-bricks-field');
        addLegoSetFieldButton.addEventListener('click', function(e){
            e.preventDefault();
            //Print to console
            //console.log("Clicked button!")
            let allLegoSetsFieldWrapper = document.getElementById('lego_bricks_quantity');
            let allLegoSetsField = allLegoSetsFieldWrapper.getElementsByTagName('input');
            if (allLegoSetsField > 99)
            {
                alert("You can only order 100 Lego set's at a time");
                return;
            }
            let legoSetsInputId = []
            for (let i = 0; i < allLegoSetsField.length; i++)
            {
                legoSetsInputId.push(parseInt(allLegoSetsField[i].name.split("-")[1]));
            }
            let newFieldNameId = `lego_bricks_id-${Math.max(...legoSetsInputId) + 1}`;
            let newFieldNameQuantity = `lego_bricks_quantity-${Math.max(...legoSetsInputId) + 1}`;
            allLegoSetsFieldWrapper.insertAdjacentHTML("beforeend",`
            <br>
            <li>
                <lable for="${newFieldNameId}">Lego brick id ${Math.max(...legoSetsInputId) + 2}</lable> 
                <input id="${newFieldNameId}" name="${newFieldNameId}" type="number", value="">
            </li>
            <li>
                <lable for="${newFieldNameQuantity}">Lego brick quantity ${Math.max(...legoSetsInputId) + 2}</lable> 
                <input id="${newFieldNameQuantity}" name="${newFieldNameQuantity}" type="number", value="">
            </li>
            `);
        });
    }
</script>
{%endblock%}