{%extends 'base.html'%}


<h1>{%block location%}Front Page{%endblock%}</h1>

{%block content%}
    <h1>Welcome to the Lego store of your dreams!</h1>
    <p>We are here to fasilitate all your lego dreams. Have a look through 
        our merchendise and order however many you feel fit's your needs. 
    </p>
    <h2>Currently Avilable Lego Sets</h2>
    <div class = "box">
        <p>WE are a box!</p>
    </div>

    <h2>Currently Unavilable Lego Sets</h2>
    <div class="box">
        <p>Make a form here!</p>
        <div class="button">
            <button type="button">Submit</button>
        </div>
    </div>

    <h2>Order Lego Sets</h2>
    <div class="box">
        <form method="POST", action="">
        <!-- See for dynamic forms https://sagarkaurav.hashnode.dev/flask-wtf-forms-dynamic-fields-using-javascript -->
            <h3>Company details</h3>
            {{form.csrf_token}}
            {{form.company_name.label}} {{form.company_name()}}<br>
            {{form.company_country.label}} {{form.company_country()}}<br>
            {{form.email.label}} {{form.email()}}<br>
            <h3>Shipping adress</h3>
            {{form.street_adress.label}} {{form.street_adress()}}<br>
            {{form.post_code.label}} {{form.post_code()}}<br>
            {{form.city.label}} {{form.city()}} <br>
            {{form.shipping_country.label}} {{form.shipping_country()}}<br>
            <h3>Order</h3>
            {{form.lego_id.label}} {{form.lego_id()}} {{form.lego_quantity.lable}} {{form.lego_quantity()}}
            <button type="submit">Complete purchase</button>
            <button id="add-lego-set-field" type="button">Add more Lego sets</button>
        </form>
    </div>
{%endblock%}

<script>
    window.onload = function() {
        console.log("Loaded window")
        let addLegoSetFieldButton = document.getElementById('add-lego-set-field');
        addLegoSetFieldButton.addEventListener('click', function(e){
            e.preventDefault();
            //Print to console
            console.log("Clicked button!")
            let allLegoSetsFieldWrapper = document.getElementById('lego_id');
            let allLegoSetsField = allLegoSetsFieldWrapper.getElementsByTagName('input');
            if (allLegoSetsField > 99)
            {
                alert("You can only order 100 Lego set's at a time");
                return;
            }
            let legoSetsInputId = []
            for (let i = 0; i < allLegoSetsField.length; i++)
            {
                legoSetsInputId.push(parseInt(allLegoSetsField[i].name.split("-")[1]));
            }
            let newFieldNameId = `lego_id-${Math.max(...legoSetsInputId) + 1}`;
            let newFieldNameQuantity = `lego_quantity-${Math.max(...legoSetsInputId) + 1}`;
            allLegoSetsFieldWrapper.insertAdjacentHTML("beforeend",`
            <li>
                <lable for="${newFieldNameId}">{{form.lego_id.lable}}</lable> 
                <input id="${newFieldNameId}" name="${newFieldNameId}" type="number", value="">
            </li>
            <li>
                <lable for="${newFieldNameQuantity}">{{form.lego_quantity.lable}}</lable> 
                <input id="${newFieldNameQuantity}" name="${newFieldNameQuantity}" type="number", value="">
            </li>
            `);
        });
    }
</script>