{%extends 'base.html'%}


<h1>{%block location%}Front Page{%endblock%}</h1>

{%block content%}
    <h1>Welcome to the Lego store of your dreams!</h1>
    <p>We are here to fasilitate all your lego dreams. Have a look through 
        our merchendise and order however many you feel fit's your needs. 
    </p>
    <h2>Currently Avilable Lego Sets</h2>
    <div class = "box">
        <p>WE are a box!</p>
    </div>

    <h2>Currently Unavilable Lego Sets</h2>
    <div class="box">
        <p>Make a form here!</p>
        <div class="button">
            <button type="button">Submit</button>
        </div>
    </div>

    <h2>Order Lego Sets</h2>
    <div class="box">
        <form>
        <!-- See for dynamic forms https://sagarkaurav.hashnode.dev/flask-wtf-forms-dynamic-fields-using-javascript -->
        </form>
        <p>Make form here!</p>
    </div>
{%endblock%}